
.header__links {
    display:flex;
    margin-top:12px;
    margin-bottom:4px;
    padding-left:0px;
    gap:18px;
    list-style:none;
    color:#ffffff;
}

@media only screen and (max-width: 320px) { 
    .header__links {
        margin-top:10px;
        margin-bottom:6px;
    } 
}
