   
    .lead {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        position:relative;
        max-width: calc(100% - 148px * 2);
        width:984px;
        margin: 58px 148px 0px 148px;
    } 

    @media only screen and (max-width:1024px) { 
        .lead {
            width:928px;
            margin: 50px 48px 0px 48px;
            max-width: calc(100% - 48px * 2);
        }
    }

    @media only screen and (max-width:768px) { 
        .lead {
            width:768px;
            margin: 50px 0px 0px 0px;
            max-width: calc(100% - 0px * 2);
        }
    }

    @media only screen and (max-width:320px) { 
        .lead {
            width:320px;
            margin: 50px 0px 0px 0px;
            max-width: calc(100% - 0px * 2);
        }
    }