.cover__subtitle {
    font-weight:normal;
    font-size:18px;
    line-height:22px;
    height:66px;
    width:320px;
    margin:32% 34.5% 24% 36.5%;
    justify-content:center;
    text-align:center;
    z-index:3;
}


@media only screen and (max-width: 320px) { 
    .cover__subtitle {
        font-size:14px;
        line-height:114%;
    }
}
