.photo-grid__item {
    display:grid;
    list-style:none;
    grid-template-columns:repeat(4 , 284px);
    max-width:100%;
    gap:16px;
    padding-left:0px;
    box-sizing:border-box;
    object-fit:contain;
    margin:92px auto 0px;
}

@media only screen and (min-width:1024px) and (max-width:1279px) {
    .photo-grid__item {
        grid-template-columns:repeat(3 , 300px);
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .photo-grid__item {
        grid-template-columns:repeat(2 , 340px);
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .photo-grid__item {
        grid-template-columns:repeat(1 , 288px);
    }
}
