   
.header {
  display:flex;
  align-items:flex-end;
  justify-content:space-between;
  min-height:82px;
}

@media screen and (min-width:320px) and (max-width:767px) {
  .header {
    min-height:57.27px;
    max-width:600px;
  }
}


