@media only screen and (min-width: 1280px) {    

.header__link {
    display:flex;
    right:148px;
    margin-top:12px;
    margin-bottom:4px;
    padding-left:0px;
    gap:18px;
    list-style:none;
}

}
