.place__paragraph {
        font-weight:normal;
        font-size:18px;
        width:484px;
        margin-bottom:25px;
        margin-top:0px;
        line-height:163%;
}

.place__paragraph:last-child {
        margin-bottom:0px;
}
   
@media only screen and (max-width:1024px) {
        .place__paragraph {
             width:456px;
        }
}
    
@media only screen and (max-width:768px) {
        .place__paragraph {
            width:352px;
        }
}
    
@media only screen and (max-width:320px) {
        .place__paragraphs {
            width:288px;
        }
}
