.cover__backround {
    background-image:url(../../../sprint-3-images/cover-route-66.jpg);
    background-size:100% 100%;
    object-fit:cover;
    display:flex;
    flex-direction:column;
    position:relative;
    height:100%;
    width:100%;
    text-decoration:none;
    align-items:center;
    justify-content:center;
    margin-left:0;
    z-index:1;
}
 
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__image{
      max-height:640px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover__image{
      max-height:480px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__image{
      min-height:200px;
      max-width:100%;
      margin-right:0;
    }
  }
 


