.cover__backround {
    display:grid;
    grid-template-rows:10px;
    background-image:url(../../../sprint-3-images/cover-route-66.jpg);
    background-size:1184px 740px;
    background-repeat:no-repeat;
}

 .cover__backround:hover .cover__overlay {
     opacity:0.3;
 }
 
@media only screen and (max-width: 1024px) { 
    .cover__backround {
        background-size:1024px 640px;
    }
}

@media only screen and (max-width: 768px) { 
    .cover__backround {
        background-size:768px 480px;
    }
}

@media only screen and (max-width: 320px) { 
    .cover__backround {
        background-size:320px 200px;
    }
}
 


