.cover {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
}

@media only screen and (max-width: 1280px) { 
    .cover {
        width:1184px;
        height:740px;
        margin: 92px 48px 92px 48px;
    }
}

@media only screen and (max-width: 1024px) { 
    .cover {
        margin: 92px 0px 92px 0px;
        width:1024px;
        height:640px;
    }
}

@media only screen and (max-width: 768px) { 
    .cover {
        margin: 89px 0px 88px 0px;
        width:768px;
        height:480px;
    }
}

@media only screen and (max-width: 320px) { 
    .cover {
        margin: 64px 0px 64px 0px;
        width:320px;
        height:200px;
    }
}