.lead__caption {
        font-style:normal;
        font-weight:normal;
        margin-top:8px;
        margin-bottom:0px;
        font-size:10px;
        line-height:140%;
        color:#ffffff;
        letter-spacing:0.15em;
        text-transform:uppercase;
}
