.cover__title {
    position:relative;
    font-weight:900;
    width:656px;
    margin:23.9% 23.5% 32.2% 24.5%;
    font-size:72px;
    line-height:106%;
    color:#ffffff;
    text-align: center;
    z-index:3;
}
