 .place {
      display:grid;
      grid-template-columns:repeat(2,1fr);
      grid-template-rows:auto auto;
      column-gap:40px;
 }

@media only screen and (max-width:768px) {  
  .place {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:auto;
    column-gap:24px;
  }
}

@media only screen and (max-width:320px) {  
  .place {
    display:grid;
    grid-template-columns:repeat(1,1fr);
    column-gap:40px;
    grid-template-rows:auto;
  }

  .place:nth-of-type(4) .place__image:nth-of-type(1) {
    margin-bottom:0px;
   }
}