@media only screen and (min-width: 1280px) {    
    .footer {
        display:flex;
        justify-content:space-between;
        margin: 0px 3.75% 24px 3.75%;
        width:92.5%;
        padding-left:0px;
        height:18px;
        border:solid 1px red;
    }
}