.place__url-heading {
        font-style:normal;
        font-weight:normal;
        font-size:12px;
        line-height:170%;
        letter-spacing:0.2em;
        margin-bottom:4px;
        list-style:none;
        color:#aaaaaa;
}

@media only screen and (max-width: 768px) { 
    .place__url-heading { 
        line-height:100%;
    }
}

@media only screen and (max-width: 320px) { 
    .place__url-heading { 
        line-height:100%;
    }
}