 .intro__title {
         max-width:720px;
         margin-top:0px;
         margin-bottom:40px;
         font-style:normal;
         font-weight:900;
         font-size:54px;
         line-height:107%;
         color:#ffffff;
}

@media only screen and (min-width:320px) and (max-width:767px) {  
    .intro__title {
        max-width:100%;
        min-width:288px;
        font-size:32px;
        line-height:109%;
    }
}